.env
debridge_node/.env
secrets/*
pgdata/

.vs/
node_modules/
/debridge_node/log
dist/
data
/debridge_node/keystore.json

.DS_Store
heap_info.json
config/chains_config.json

.idea/*
debridge_node/bundlr_wallet.json
.env

.cache
